@import 'flowbite/dist/flowbite.css';

@tailwind base;
@tailwind components;
@tailwind utilities;



/* transitions.css */
.page-enter-active, .page-leave-active {
    transition: opacity 0.5s;
  }
  
  .page-enter, .page-leave-to {
    opacity: 0;
  }
  
  .page-enter-active {
    opacity: 1;
  }
  





